<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{{ '/static/style.css'|url }}">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Mono|Lato:400,700|Roboto+Slab:400,700" rel="stylesheet">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.5.0/styles/monokai-sublime.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}Welcome{% endblock %} — lpug.github.io</title>
</head>
<body class="base-font-size">
  <div class="base-container">
  <header>
    <h1 class="title">LPUG</h1>
    <nav>
      <ul class="nav navbar">
        <li{% if this._path == '/' %} class="active"{% endif
          %}><a href="{{ '/'|url }}">Welcome</a></li>
        {% for href, title in [
          ['/blog', 'Blog'],
          ['/projects', 'Projects'],
          ['/archive', 'Archive'],
          ['/about', 'About']
        ] %}
          <li{% if this.is_child_of(href) %} class="active"{% endif
            %}><a href="{{ href|url }}">{{ title }}</a></li>
        {% endfor %}
      </ul>
    </nav>
  </header>
  <div class="page">
    {% block body %}{% endblock %}
  </div>
  <footer>
    <img class="footer-logo" src="/static/logo.svg" alt="Logo of the LPUG">
  </footer>
  </div>
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.5.0/highlight.min.js"></script>
  <script async defer>hljs.initHighlightingOnLoad();</script>
</body>
</html>
