<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{{ '/static/style.css'|url }}">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Mono|Lato:400,700|Roboto+Slab:400,700" rel="stylesheet">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.5.0/styles/monokai-sublime.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}Welcome{% endblock %} — lpug.github.io</title>
</head>
<body class="base-font-size">
  <div class="base-container">
  <header>
    <a href="/">
      <img class="logo" src="/static/logo.svg" alt="Leipzig Python User Group Logo">
    </a>
    <nav>
      <ul class="nav navbar">
        {% for path, label in bag('navigation').items() %}
        <li{% if this.is_child_of(path) %} class="active"{% endif %}>
          <a href="{{ path|url }}">{{ label }}</a>
        </li>
        {% endfor %}
        {% for label, url in bag('navigation-ext').items() %}
        <li>
          <a href="{{ url }}">{{ label }}</a>
        </li>
        {% endfor %}
      </ul>
    </nav>
  </header>
  <div class="page">
    {% block body %}{% endblock %}
  </div>
  <footer>
    <small>
      <p>Diese Seiten wurden mit <a href="https://www.getlektor.com/">Lektor</a> erstellt.</p>
    </small>
  </footer>
  </div>
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.5.0/highlight.min.js"></script>
  <script async defer>hljs.initHighlightingOnLoad();</script>
</body>
</html>
